<header id="site-header">
  <img src="{{ '/assets/img/logo-white.svg' | relative_url }}" alt="logo" class="logo" id="logo">

  <!-- Mobile dropdown navbar -->
  <div id="hamburger-icon" onclick="toggleNav()">
    <input type="checkbox" id="hamburger-button"/>
    <span></span>
    <span></span>
    <span></span>
  </div>

  {% assign pages = site.data.navbar %}
  <nav class="navbar">
    <ul id="navbar-nav">
      {% for page in pages %}
        <li class="nav-item">
          {% if page.subpages %}
            <div class="dropdown">
              <div class="dropbtn nav-link">
                {% if page.url %}
                  <a href="{{ page.url }}" class="nav-link">{{ page.title | escape }}</a>
                {% else %}
                  {{ page.title | escape }}
                {% endif %}
                <i class="fa fa-caret-down"></i>
              </div>
              <div class="dropdown-content">
                {%- for subpage in page.subpages -%}
                  <a class="dropdown-link" href="{{ subpage.url | relative_url }}">{{ subpage.title | escape }}</a>
                {%- endfor -%}
              </div>
            </div>
          {% else %}
            <a href="{{ page.url | relative_url }}" class="nav-link">
              <span class="link-text">{{ page.title | escape }}</span>
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

</header>
